In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
#setup hai pehle aur matplotlib.pyplot is standard hai

In [10]:
df=read_csv('locationofthefile/filename.csv)
#df is dataframe aur read_csv pandas ka function hai jo comma seperated variable read krta hai
#display be krenge jo kiya hai abhit

print("Data loaded Successfully")
print(f"The total rows:{lef(df)}")
print(f"The total column{lef(df.columns)}")


#this is the calculate the count of rows and columns but there are alternatives too for row df.shape[0] for columns df.shape[1] 
#also df.info() se bhi ho jata hai to bhatere variations hai

SyntaxError: unterminated string literal (detected at line 1) (1678301573.py, line 1)

In [11]:
print("First five rows of data")
print(df.head())

print("Column name")
print(df.columns.tolist())

print("Data Types")
print(df.dtypes())

First five rows of data

NameError: name 'df' is not defined

In [12]:
print("Summary Statistics")
print(df.describe())

Summary Statistics

NameError: name 'df' is not defined

In [13]:
print("Missing Value per column")
print(df.isnull().sum())

Missing Value per column

NameError: name 'df' is not defined

In [14]:
print(df.isnull().sum(())

_IncompleteInputError: incomplete input (3820185101.py, line 2)

In [15]:
print(df.isnull().sum(())

_IncompleteInputError: incomplete input (3820185101.py, line 2)

In [16]:
duplicates=df.duplicates().sum()
print(f"The number of duplicated:{duplicated}")

NameError: name 'df' is not defined

In [17]:
if df['Date'].dtype=='object':
 df['Date']=pd.to_dateime(['Date'])

SyntaxError: expected ':' (104422349.py, line 1)

In [18]:
daily_total=df.grouby('Date')['QuantitySold'].sum()
plt.fig(figsize(12,9))
plt.plot(daily_total.index,daily_total.values,linewidth=2)

NameError: name 'df' is not defined